<!-- app.component.html -->

<div class="app-container">
  <header class="app-header">
    <div class="container">
      <h1 class="text-center text-pink">
        <a
          routerLink="/home"
          routerLinkActive="active"
          class="nav-link text-pink"
          >Agenda HIMM</a
        >
      </h1>
      <nav class="nav justify-content-center">
        <a
          routerLink="/home"
          routerLinkActive="active"
          class="nav-link text-pink"
          >Página inicial</a
        >
        <a
          routerLink="/event-form"
          routerLinkActive="active"
          class="nav-link text-pink"
          >Novo Evento</a
        >
        <a
          routerLink="/notes"
          routerLinkActive="active"
          class="nav-link text-pink"
          >Anotações</a
        >
      </nav>
    </div>
  </header>

  <main class="app-main">
    <router-outlet></router-outlet>
  </main>
</div>
